/* CARACTERÍSTICAS */

.cont-car {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    text-align: center;
    
    }
    .cont-car img {
        object-fit: contain;
        width: 100%;
        height: auto;
        margin: 5px 0 5px 0;
    }