$sombreo: 1rem;
$primary: #6c757d;
$secondary: #adb5bd;
$card-border-width: 0;
$accordion-border-width: 0.2rem; 
$accordion-button-focus-box-shadow: 100; 

@import "generales";
@import "navbar";
@import "botonerita";
@import "conocenos";
@import "espacios";
@import "actividades";
@import "footer";
/* media_quories */
@import "./media_quories/mobile";
@import "./media_quories/tablet";
@import "./media_quories/desktop";
/* bootstrap */
@import "./bootstrap/scss/bootstrap";
