@charset "UTF-8";
/* GENERALES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: anuphan, goldsmith_vintage;
}

@font-face {
  font-family: anuphan;
  src: url(fonts/Anuphan/Anuphan-VariableFont_wght.ttf);
}
@font-face {
  font-family: goldsmith_vintage;
  src: url(fonts/goldsmith_vintage.ttf);
}
a:hover {
  color: rgba(33, 37, 41, 0.24) !important;
}

/* BARRA DE NAVEGACIÓN */
.barra {
  background: rgba(242, 242, 242, 0.9);
  width: 100vw;
  z-index: 101;
}

.contenedor-toggler {
  height: 5px;
}

.logo {
  height: 10vw;
}

.logo:hover {
  opacity: 0.75;
}

/* BOTONERITA */
.botonerita {
  background: rgba(242, 242, 242, 0.9);
  border-radius: 10px 0 0 10px;
  z-index: 0;
  position: sticky;
}

.botonerita_sm {
  background: rgba(242, 242, 242, 0.9);
  border-radius: 7px 0px 0px 0px;
  z-index: 0;
  position: sticky;
}

svg:hover {
  opacity: 0.75;
}

/* CARACTERÍSTICAS */
.cont-car {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  text-align: center;
}

.cont-car img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: auto;
  margin: 5px 0 5px 0;
}

.img_caracteristica:hover {
  opacity: 0.5;
}

/* CONOCENOS */
.imagen-conocenos img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

/* ESPACIOS */
.espacios {
  margin: 2vh;
  display: flex;
  flex-direction: column;
}

.titulo-espacios {
  margin: 1vh;
  display: flex;
  justify-content: center;
}

.contenido-espacios {
  display: flex;
  justify-content: center;
}

.caja-espacio {
  margin: 1vh;
  width: 30%;
  height: 35vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.caja-espacio img {
  width: 100%;
  height: 120%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contenedor_texto-espacio {
  position: absolute;
  overflow: hidden;
  opacity: 0;
  background-color: rgba(115, 115, 115, 0.75);
  margin: auto;
  width: 30%;
  height: 31vw;
  font-size: 18px;
  color: white;
  transition: opacity 0.3s;
}
.contenedor_texto-espacio p {
  font-size: 1vw;
  text-align: center;
  margin-top: 50%;
  margin-bottom: 50%;
}
.contenedor_texto-espacio p:hover {
  font-size: 1vw;
}

.contenedor_texto-espacio:hover {
  opacity: 1;
}

@media (max-width: 500px) {
  .contenedor_texto-espacio {
    display: none;
  }
}
/* ACTIVIDADES */
.actividades {
  margin: 2vh;
  display: flex;
}

.imagen-actividades {
  width: 30%;
  display: flex;
}

.imagen-actividades img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.texto-actividades {
  margin: 1vh;
  width: 70%;
  height: 35vw;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.texto-actividades {
  display: flex;
  flex-direction: column;
}

.texto-actividades h1 {
  margin: 1vh;
}

.texto-actividades p {
  margin: 1vh;
}

/* PÍE DE PÁGINA */
footer {
  background: rgb(242, 242, 242);
}

/* MEDIA QUORIES */
/* mobile */
@media (max-width: 425px) {
  h1 {
    font-size: 8vw;
    font-weight: 200;
  }
  h2 {
    font-size: 7vw;
  }
  h3 {
    font-size: 5vw;
  }
  h5 {
    font-size: 3.5vw;
  }
  h6 {
    font-size: 2vw;
  }
  p {
    font-size: 4vw;
    font-family: anuphan;
  }
  li {
    font-size: 14px;
  }
  svg {
    width: 16px;
    height: 16px;
  }
}
/* tablet*/
@media (min-width: 425px) and (max-width: 768px) {
  h1 {
    font-size: 4vw;
    font-weight: 200;
  }
  h2 {
    font-size: 3vw;
  }
  h3 {
    font-size: 2vw;
  }
  h5 {
    font-size: 1.5vw;
  }
  h6 {
    font-size: 1vw;
  }
  p {
    font-size: 15px;
    font-family: anuphan;
  }
  p:hover {
    font-size: 17px;
  }
  li {
    font-size: 18px;
  }
}
/* desktop */
@media (min-width: 768px) {
  h1 {
    font-size: 4vw;
    font-weight: 200;
  }
  .titulos:hover {
    font-size: 4.5vw;
  }
  h2 {
    font-size: 3vw;
  }
  h3 {
    font-size: 2vw;
  }
  h5 {
    font-size: 1.5vw;
  }
  h5:hover {
    font-size: 4vw;
  }
  h6 {
    font-size: 1vw;
  }
  p {
    font-size: 18px;
    font-family: anuphan;
  }
  p:hover {
    font-size: 20px;
  }
  li {
    font-size: 24px;
  }
}
/* Página realizada por:
☼ Nicolás Hernández _ DOX ☼ *//*# sourceMappingURL=style.css.map */