$sombreo: 1rem;
$primary: #6c757d;
$secondary: #adb5bd;
$card-border-width: 0;
$accordion-border-width: 0.2rem; 
$accordion-button-focus-box-shadow: 100;

/* layouts */
@import "./layouts/generales";
@import "./layouts/navbar";
@import "./layouts/botonerita";
@import "./layouts/footer";
/* media_quories */
@import "./media_quories/mobile";
@import "./media_quories/tablet";
@import "./media_quories/desktop";
/* bootstrap */
@import "./bootstrap/scss/bootstrap";
