/* GENERALES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: anuphan, goldsmith_vintage;
    font-size: 2vw; 
}
@font-face {
    font-family: anuphan;
    src: url(fonts/Anuphan/Anuphan-VariableFont_wght.ttf);
}
@font-face {
    font-family: goldsmith_vintage;
    src: url(fonts/goldsmith_vintage.ttf);
}

h1 {font-size: 6vw;
font-weight: 200;}
h2 {font-size: 4vw;}
h3 {font-size: 3vw;}
h5 {font-size: 2.5vw;}
h6 {font-size: 2.0vw;}
p {font-size: 2vw;
font-family: anuphan;}
li {font-size: 2vw;}


/* BARRA DE NAVEGACIÓN */
   
.barra {
    background: rgba(242, 242, 242, 0.9);
    width: 100vw;
    z-index: 101;
    }
    .contenedor-toggler {
        height: 5px;
    }
    .logo {
          height: 10vw;
        }
        
/* BOTONERITA */

.botonerita {
    background: rgba(242, 242, 242, 0.9);
    border-radius: 10px 0 0 10px;
    z-index: 0;
    position: sticky;
}

.botonerita_sm {
    background: rgba(242, 242, 242, 0.9);
    border-radius: 7px 0px 0px 0px;
    z-index: 0;
    position: sticky;
}

    /* CARACTERÍSTICAS */


    
        .cont-car {
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: center;
            text-align: center;
            
            }
            .cont-car img {
                object-fit: contain;
                width: 100%;
                height: auto;
                margin: 5px 0 5px 0;
            }
            
/* CONOCENOS */

.conocenos {
    margin: 2vh;
    display: flex;
    flex-direction: column;
}

    .titulo-conocenos{
        margin: 1vh;
        display: flex;
    }
    .contenido-conocenos{
        display: flex;

    }

        .texto-conocenos{
            margin: 1vh;        
            display: flex;
            width: 50%;

        }
        .imagen-conocenos{

            width: 50%;
            object-fit: contain;

        }
            .imagen-conocenos img {
                width: 100%;
                object-fit: contain;
            }



/* ESPACIOS */                

.espacios {
    margin: 2vh;
    display: flex;
    flex-direction: column;
}
    .titulo-espacios{
        margin: 1vh;
        display: flex;
        justify-content: center;
}
    .contenido-espacios{
        display: flex;
        justify-content: center;

}
        .caja-espacio{
            margin: 1vh;        
            width: 30%;
            height: 35vw;
            display: flex;
            flex-direction: column;
            align-items: center;


        }
            .caja-espacio img{
                width: 100%;
                height: 120%;
                object-fit: cover;
            }

/* ACTIVIDADES */                

.actividades {
    margin: 2vh;
    display: flex;
}

    .imagen-actividades{
        width: 30%;
        display: flex;
}
        .imagen-actividades img {
            width: 100%;
            height: 100%;
            object-fit: contain;

        }
        .texto-actividades{
            margin: 1vh;        
            width: 70%;
            height: 35vw;
            display: flex;
            flex-direction: column;
            overflow: scroll;
        }
        .texto-actividades{
            display: flex;
            flex-direction: column;
        }
            .texto-actividades h1 {
                margin: 1vh;
            }
            .texto-actividades p {
            margin: 1vh;
            }





/* PÍE DE PÁGINA */

footer {
    background: rgba(242, 242, 242);
}
