/* MEDIA QUORIES */

/* mobile */
@media (max-width: 425px) {
    h1 {font-size: 32px;
    font-weight: 300;}
    h2 {font-size: 6vw;
    font-weight: 400;}
    h3 {font-size: 5vw;}
    h5 {font-size: 3.5vw;}
    h6 {font-size: 2.0vw;}
    p {font-size: 13px;
    font-family: anuphan;}
    li {font-size: 14px;}
    svg {width: 16px;
    height: 16px;}
    .logo {
        height: 15vw;
      }
    }